.container-fluid {
  background-color: #ecf0f1;
  height:100vh;

}
.row h1 {
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
  color:black;
}
.skills{
  margin-bottom:50px;
}
.stars{
  color:#f1c40f;
}
